.auth {
    display: flex;
    gap: 10px;
    justify-content: center; 
}


.auth button {
    width: auto;
}



.navbar {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px 20px;
    background-color: rgb(251, 207, 105);
    flex-wrap: wrap; 
}


.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.navbar .nav-buttons {
    display: flex;
    gap: 10px;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .nav-buttons {
        margin-top: 10px;
    }
}
